# Masa Protocol scraping parameters
MASA_NODE_URL=

# Agent parameters (required for agent functionality)
OPENAI_API_KEY=
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true

# Optional parameters for agent functionality
TAVILY_API_KEY=
PINECONE_API_KEY=

# Optional parameters for audio transcription
ASSEMBLYAI_API_KEY=
AUDIO_FILE_URL=
LOCAL_AUDIO_FILE=
AUDIO_URL=
RSS_FEED_URL=
YOUTUBE_VIDEO_URL=
TIKTOK_VIDEO_URL=