# URL for the Masa node

MASA_NODE_URL=

# Agent keys

# API key for OpenAI, used for language models
OPENAI_API_KEY=

# API key for LangChain, used for chaining language models
LANGCHAIN_API_KEY=

# API key for Tavily, used for specific agent functionalities
TAVILY_API_KEY=

# Enable tracing for LangChain
LANGCHAIN_TRACING_V2=true

# Endpoint for LangChain API
LANGCHAIN_ENDPOINT=

# API key for Pinecone, used for vector database
PINECONE_API_KEY=

# Preprocessing

# API key for AssemblyAI, used for audio processing
ASSEMBLYAI_API_KEY=

# URL of the audio file to be processed
AUDIO_FILE_URL=

# Path to the local audio file
LOCAL_AUDIO_FILE=

# URL of the audio stream
AUDIO_URL=

# URL of the RSS feed to be processed
RSS_FEED_URL=

# URL of the YouTube video to be processed
YOUTUBE_VIDEO_URL=

# URL of the TikTok video to be processed
TIKTOK_VIDEO_URL=