assemblyai
pytube
TikTokApi
torch
transformers
pinecone-client[grpc]
langchain
tavily-python
langgraph
langchain_community
langchain-openai
langchainhub
langchain-ollama
nomic[local]
openai
tiktoken
tqdm
streamlit-extras
ollama
colorlog